

.fond {
  background-image: url(img/HERO.jpg);  
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.fondBleu {
    background-color: rgb(0, 200, 255);
    
}

.fondNavBar {
    background-color: rgba(0, 0, 0, 0.441);
    height: 80px;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    font-weight: 400;
}

.menu {
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.logo {
    color: white;
}

.bleu {
    color: rgb(0, 200, 255);
}

.onglets {
    color: white;
    
}

.boitePunchline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh; 
}

.punchline {
    color: white;
    background-color: rgba(0, 0, 0, 0.441);
    padding:1px;
    margin-top: 10px;
    font-size: 2rem;
}

.container .cartes {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
}

.container .cartes img {
    margin-top: 30px;
    margin-bottom: 30px;
}

.container .cartes h4 {
    font-weight: 400;
    margin-bottom: 40px;
}